/**************************************/
/*  Base styling
/**************************************/
body {
	font-family: "VAG Rounded LT W01 Thin", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	font-size: 21px;
	color: black;
	background-color: #ffffff;
	line-height: normal;
}

/* Overriding Bootstrap Row margin*/
.row {
	margin-right: 0px;
	margin-left: 0px;
}

.header {
	background-color: #e0e0d7;
	padding: 10px;
}

.whiteBackground {
	background: #ffffff !important;
}

.center {
	text-align: center;
}

.grayFont {
	color: #5e5e5c;
}

.form-signin {
	padding: 15px 35px;
}

.form {
	margin: 20px 40px;
}

.form-control {
	margin-bottom: 25px;
}

.form p {
	font-size: 14px;
	width: 75%;
	margin: 0px auto;
}

.form a {
	font-size: 13px;
}

.login-screen {
	margin: 20px auto;
	font-size: 16px;
	border: 1px solid #ccc;
	float: none;
	position: relative;
	padding: 0;
}

.login-header {
	background: #112e51;
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin: 0;
}

.buttonLink {
	padding: 10px 30px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
}

/**************************************/
/*  Footer
/**************************************/
.footer {
	font-size: 14px;
	color: #003855;
	background-color: #e0e0d7;
	padding-top: 16px;
	padding-bottom: 32px;
}

/**************************************/
/*  Notification History Page
/**************************************/
.navbar {
	float: left;
	font-size: 15px;
	padding-top: 13px;
}

.topbar {
	margin-left: 30px;
	border-bottom: 1px solid black;
}

.searchInput {
	font-size: 14px;
	text-align: left;
	padding: 13px 60px 10px 40px;
}

.searchButton {
	background-image: url(../images/search-image.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0px 0px;
	border: none;
	cursor: pointer;
	height: 26px;
	width: 26px;
	vertical-align: middle;
	float: left;
}

.titleBlock {
	margin-top: 40px;
	margin-bottom: 20px;
}

/**************************************/
/*  Notification Message Page
/**************************************/
.sendForm {
	margin-top: 35px;
}

.form-group {
	margin-bottom: 20px;
}