<header>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href ng-click="go('/history')">History</a></li>
                    <li><a href ng-click="go('/message')">Message</a></li>
                </ul>
            </li>
            <li><a href ng-click="go('/users')">Users</a></li>
        </ul>
    </nav>
</header>
<div>
    <div>
        <h1>Notificaition</h1>
    </div>
    <div>
        <h1>Users</h1>
    </div>
</div>