<div class="container main-body-content">
    <toaster-container toaster-options="{'time-out': 1000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h3>Registration</h3>
        <form class="sendForm clearfix" name="registerForm">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 noSpace">
                <h4>Personal Information</h4>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control" type="text" ng-model="register.firstName" id="firstName" placeholder="First Name" ng-disabled="isLoading" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control" type="text" ng-model="register.lastName" id="lastName" placeholder="Last Name" ng-disabled="isLoading" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control"  type="email" ng-model="register.email" id="email" placeholder="Email" ng-disabled="isLoading" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control" type="text" ng-model="register.mobileNo" id="mobileNo" placeholder="Mobile" ng-disabled="isLoading" required>
                    </div>
                </div>
                <google-prediction-list location="locationDetails" name="name"></google-prediction-list>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 noSpace">
                <h4>Login Information</h4>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control" type="text" ng-model="register.userName" id="userName" placeholder="Username" ng-disabled="isLoading" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control" type="password" ng-model="register.password" id="password" placeholder="Password" ng-disabled="isLoading" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 noSpace">
                        <input class="form-control" type="password" ng-model="confirmPassword" id="confirmPassword" placeholder="Confirm Password" ng-disabled="isLoading" required>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-5 noSpace marginTop100">
                <button type="submit" class="buttonLink btn btn-primary pull-right" ng-click="go('/login')" ng-disabled="isLoading">Cancel</button>
                <button type="submit" class="buttonLink btn btn-primary pull-right" style="margin-right: 10px;" ng-click="submit()" ng-disabled="isLoading">Register</button>
                <div id="registerLoading" ng-show="isLoading"><img width="20" src="/images/ajax-spinner-blue.gif"/>
                </div>
            </div>
        </form>
    </div>
</div>