<ion-view>
    <ion-header-bar class="bar-positive" align-title="center">

        <h1 class="title">Setup Your Account</h1>

    </ion-header-bar>
    <ion-content has-bouncing="false" class="padding25 alignCenter has-header paddingTop10">

        <!-- <img src="./img/logo.png" class="marginTop30">-->


        <div class="list list-inset alignLeft margin10">

            <div class="registerLabel lBlueFontClr">Personal Information</div>
            <label class="item item-input extendInput">
                <input type="text" placeholder="First Name" ng-model="account.firstName">
            </label>

            <label class="item item-input extendInput marginTop5">
                <input type="text" placeholder="Last Name" ng-model="account.lastName">
            </label>

            <label class="item item-input extendInput marginTop5">
                <input type="number" placeholder="Mobile Number" ng-model="account.mobileNumber">
            </label>

            <div class="registerLabel lBlueFontClr marginTop5">Location</div>
            <div class="locationLabel" ng-model='account.location.addressLine1' ng-if="account.location.addressLine1 != ''">{{account.location.addressLine1}}</div>
            <div class="marginTop5" ng-if="account.location.addressLine1 == ''">
                <button class="button button-full button-positive locBtn" ng-click="onTapAddLocation()">
                    Add
                </button>
            </div>

            <div class="row zeroPadding marginTop5"  ng-if="account.location.addressLine1 != ''">
                <div class="col zeroPadding alignRight btnMarRight">
                    <button class="button button-full button-assertive delBtn" ng-click="onTapDeleteLocation()">
                        Delete
                    </button>
                </div>
                <div class="col zeroPadding alignLeft btnMarLeft">
                    <button class="button button-full button-positive locBtn" ng-click="onTapAddLocation()">
                        Edit
                    </button>
                </div>
            </div>

            <div ng-if="!isAndroid" class="registerLabel lBlueFontClr marginTop5">Track Location</div>
            <li ng-if="!isAndroid" class="item item-toggle trackToggleItem">
                Current Location
                <label class="toggle toggle-balanced trackToggle">
                    <input type="checkbox" ng-model="account.userNotificationOptions.liveLocationTracking">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <div class="registerLabel lBlueFontClr marginTop5">Options for Notifications</div>
            <ion-checkbox ng-model="account.userNotificationOptions.sendEmail">Email</ion-checkbox>
            <ion-checkbox ng-model="account.userNotificationOptions.sendSms">SMS</ion-checkbox>
            <ion-checkbox ng-model="account.userNotificationOptions.sendPushNotification">Push Notification</ion-checkbox>


        </div>

        <div class="row zeroPadding marginTop20">
            <div class="col zeroPadding">
                <button class="button button-positive positiveBtn" ng-click="onTapContinueBtn()">
                    Continue
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>
