<ion-modal-view>
    <ion-content has-bouncing="false" class="padding25 alignCenter">

        <img src="./img/logo.png" class="marginTop30">
        <div class="list list-inset">
            <label class="item item-input extendInput">
                <input type="email" placeholder="info@exmaple.com" ng-model="forgot.email">
            </label>
        </div>


        <div class="row zeroPadding">
            <div class="col zeroPadding alignRight btnMarRight">
                <button class="button button-positive cancelBtn" ng-click="onForgotCancel()">
                    Cancel
                </button>
            </div>
            <div class="col zeroPadding alignLeft btnMarLeft">
                <button class="button button-positive positiveBtn" ng-click="onTapResetBtn()">
                    Reset
                </button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
