<ion-view>
    <ion-content has-bouncing="false" class="padding25 alignCenter">

        <img src="./img/logo.png" class="marginTop30">
        <div class="dBlueFontClr loginTitle marginTop30">Welcome</div>

        <div class="list list-inset">
            <label class="item item-input extendInput">
                <input type="text" placeholder="Username" ng-model="login.userName">
            </label>
            <label class="item item-input extendInput marginTop5">
                <input type="password" placeholder="********" ng-model="login.password">
            </label>
        </div>


        <button class="button button-positive positiveBtn" ng-click="onTapLoginBtn()">
            Login
        </button>


        <div class="lBlueFontClr marginTop20">
            <span ng-click="onTapForgotLink()">Forgot password?</span><span class="paddingLeftRight">|</span><span
                ng-click="onTapRegisterLink()">Register
        </span>
        </div>




    </ion-content>
</ion-view>
