<ion-view>
    <ion-content has-bouncing="false" class="padding25 alignCenter">

        <img src="./img/logo.png">
        <div class="list list-inset alignLeft margin5">

            <label class="item item-input extendInput">
                <input type="text" placeholder="Username" ng-model="register.userName">
            </label>

            <label class="item item-input extendInput marginTop5">
                <input type="email" placeholder="info@example.com" ng-model="register.email">
            </label>

            <label class="item item-input extendInput marginTop5">
                <input type="password" placeholder="Password" ng-model="register.password">
            </label>

            <label class="item item-input extendInput marginTop5">
                <input type="password" placeholder="Confirm Password" ng-model="register.cpassword">
            </label>

        </div>


        <div class="row zeroPadding marginTop20">
            <div class="col zeroPadding alignRight btnMarRight">
                <button class="button button-positive cancelBtn" ng-click="backToLogin()">
                    Cancel
                </button>
            </div>
            <div class="col zeroPadding alignLeft btnMarLeft">
                <button class="button button-positive positiveBtn" ng-click="onTapRegisterBtn()">
                    Register
                </button>
            </div>
        </div>

    </ion-content>
 </ion-view>
