<ion-view>

    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        <h1 class="title">Settings</h1>
    </ion-header-bar>

    <ion-content has-bouncing="false" class="has-header">



            <li class="item item-toggle settingTrackToggle" ng-if="!isAndroid">
                Track Current Location
                <label class="toggle toggle-balanced sTrackToggle">
                    <input type="checkbox" ng-model="settings.liveLocationTracking" ng-change="onTrackLocationChange(settings.liveLocationTracking)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle settingTrackToggle">
                Email
                <label class="toggle toggle-balanced sTrackToggle">
                    <input type="checkbox" ng-model="settings.sendEmail" ng-change="onChangeUpdate()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle settingTrackToggle">
                SMS
                <label class="toggle toggle-balanced sTrackToggle">
                    <input type="checkbox" ng-model="settings.sendSms" ng-change="onChangeUpdate()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>


            <li class="item item-toggle settingTrackToggle">
                Push Notification
                <label class="toggle toggle-balanced sTrackToggle">
                    <input type="checkbox" ng-model="settings.sendPushNotification" ng-change="onChangeUpdate()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>



    </ion-content>
</ion-view>
