
<body>
  <div>
	<div class="container main-body-content">
	  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
		<h3>Notification Detail</h3>
	      <div class="sendForm">
		    <div class="form-group row">
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 noSpace">
			    <input class="form-control" type="text" value="" id="text-input" placeholder="Location" disabled="disabled">
			  </div>
			</div>
			<div class="form-group row">
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 noSpace">
			    <input class="form-control" type="text" value="" id="text-input" placeholder="Subject" disabled="disabled">
			  </div>
			</div>
			<div class="form-group row">
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 noSpace">
			    <textarea class="form-control" id="comments" placeholder="Message" disabled="disabled"></textarea>
			  </div>
			</div>
			<div class="form-group">
		      <button type="submit" class="buttonLink btn btn-primary">Publish</button>
			</div>
		  </div>
	  </div>
    </div>
  </div>
</body>
</html>
