<div class="usa-overlay"></div>
<div class="container main-body-content">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noSpace clearfix">
                <h3 ng-if="role == 'ADMIN'">Notifications History</h3>
                <h3 ng-if="role == 'USER'">Notifications List</h3>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noSpace clearfix" ng-if="role == 'ADMIN'">
                <button ui-sref="message" type="submit" class="center" ng-click="go('/message')">Send Notification
                </button>
            </div>
            <div class="pull-right col-lg-4 col-md-4 col-sm-6 col-xs-12 noSpace">
                <input type="text" class="searchInput left" data-search-input="true" ng-model="searchFilter"
                       id="searchTermTop" placeholder="Search">
                <div data-search-button="true" class="left searchButton"></div>
            </div>
        </div>
        <div class="row notificationTable  table-responsive">
            <table>
                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Sent By</th>
                    <th scope="col">Sent Date</th>
                    <th scope="col">Valid Through</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="notification in notificationList | filter: searchFilter" ng-if="role == 'USER'">
                    <td>{{notification.notification.subject}}</td>
                    <td>{{notification.notification.message}}</td>
                    <td>{{notification.notification.sentBy.firstName + notification.notification.sentBy.lastName}}</td>
                    <td>{{notification.notification.sentTime | date:"MM/dd/yyyy h:mma"}}</td>
                    <td>{{notification.notification.validThrough | date:"MM/dd/yyyy h:mma"}}</td>
                    <td>{{notification.notification.address}}</td>
                </tr>
                <tr ng-repeat="notification in notificationList | filter: searchFilter" ng-if="role == 'ADMIN'">
                    <td>{{notification.subject}}</td>
                    <td>{{notification.message}}</td>
                    <td>{{notification.sentBy.firstName + notification.notification.sentBy.lastName}}</td>
                    <td>{{notification.sentTime | date:"MM/dd/yyyy h:mma"}}</td>
                    <td>{{notification.validThrough | date:"MM/dd/yyyy h:mma"}}</td>
                    <td>{{notification.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
