<!DOCTYPE html>
<html ng-app="CRNS">
<head>
    <title>CRNS</title>

    <!-- meta data-->
    <meta charset="UTF-8">
    <meta name="description"
          content="California Residents Notification Service">
    <meta name="keywords" content="Notifications, Userlist">
    <meta name="author" content="CRNS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <!-- Custom StyleSheets -->
    <link href="//fast.fonts.net/cssapi/8476b357-99c7-4a18-9347-449c4773185a.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
    <!-- scripts -->
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-resource.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/angular-sanitize.min.js"></script>
    <script src="/lib/angular-touch.min.js"></script>
    <script src="/lib/angular-animate.min.js" ></script>

    <script src="/lib/ngStorage.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jPushMenu.js"></script>
    <script src="/js/nav.min.js"></script>
    <!--<script src="js/styleguide.js"></script>-->
    <script src="/js/uswds.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/constants/Configuration.js"></script>
    <script src="/js/modules/core/HttpFactory.js"></script>
    <script src="/js/controller/MainController.js"></script>
    <script src="/js/controller/LoginController.js"></script>
    <script src="/js/controller/RegistrationController.js"></script>
    <script src="/js/directives/loginError.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPGg4QrIweP1lpFrc3TuO1SkIDVhUXLTs&libraries=places"></script>
    <script src="http://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>


</head>
<body ng-controller="MainController">
<header class="usa-header usa-header-extended" role="banner">
    <div class="subheader">
        <div class="usa-navbar">
            <div class="usa-logo" id="logo">
                <em class="usa-logo-text"> <a href accesskey="1" ng-click="go('/')"
                                              title="Home" aria-label="Home"> <img src="/images/logo.png"
                                                                                   alt="CRNS"> <span>California Residents Notification
								Service</span>
                </a>
                </em>
            </div>
        </div>
    </div>
</header>
<divsss ng-view class="views"></divsss>
</body>
</html>