<!DOCTYPE html>
<html ng-app="CRNS">
<head>
  <title>CRNS</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <!-- Custom StyleSheets -->
  <link href="//fast.fonts.net/cssapi/8476b357-99c7-4a18-9347-449c4773185a.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <!-- scripts -->
  <script src="/js/angular.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <!-- Include the ui-router script -->
  <script src="/js/angular-ui-router.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controller.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- meta data-->
  <meta charset="UTF-8">
  <meta name="description" content="California Residents Notification Service">
  <meta name="keywords" content="Notifications, Userlist">
  <meta name="author" content="CRNS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="LoginCtrl">
<div ng-view></div>
  <div>
    <header class="usa-header usa-header-extended" role="banner">
	  <div class="subheader">
	    <div class="usa-navbar">
		  <div class="usa-logo" id="logo">
		    <em class="usa-logo-text">
			  <a href="#" accesskey="1" title="Home" aria-label="Home">
			    <img src="/images/logo.png" alt="CRNS">
				  <span>California Residents Notification Service</span>
			  </a>
			</em>
		  </div>
		</div>
	  </div>
	</header>
	<div class="login-screen center col-lg-3 col-md-3 col-sm-6 col-xs-8">
	  <h2 class="login-header">Welcome to our page</h2>
	    <div class="form">
		  <h4 class="text-bold">Lets get started</h4>
		    <p class="grayFont">Enter your username and password and start the tour.</p>
			  <form class="form-signin">
			    <div class="row">
				  <div class="form-group">
				    <input type="text" name="username" class="form-control" value="" placeholder="Username or Email" required>
					<i class="fa fa-user" aria-hidden="true"></i>
				  </div>
				  <div class="form-group">
				    <input type="password" class="form-control" name="password" value="" placeholder="Password" required></input>
				  </div>
				  <div class="button_wrapper fullwidth">
				    <button ui-sref="message" type="submit" class="center">SUBMIT</button>
				  </div>
				  <a class="text-bold">Forgot Password</a>&nbsp;&nbsp;
				  <a class="text-bold" href="signUp">Sign Up</a>
				</div>
			  </form>
			</div>
		</div>
	</div>
</body>
</html>