<!DOCTYPE html>
<html>

<head>
<title>CRNS</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link
	href="//fast.fonts.net/cssapi/8476b357-99c7-4a18-9347-449c4773185a.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>

	<div>
		<div class="header">
			<h1>CRNS</h1>
			<p>California Residents Notification Service</p>

		</div>
		<div class="login-screen center col-lg-4 col-md-4 col-sm-6 col-xs-8">
			<h2 class="login-header">Welcome to our page</h2>
			<div class="form">
				<h4 class="text-bold">Lets get started</h4>
				<p class="grayFont">Enter your username and password and start
					the tour.</p>
				<form class="form-signin">
					<div class="row">
						<div class="form-group">
							<input type="text" name="username" class="form-control" value=""
								placeholder="Username or Email" required> <i
								class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password"
								value="" placeholder="Password" required></input>
						</div>
						<div class="form-group">
							<button type="submit" class="buttonLink btn btn-primary">SUBMIT</button>
						</div>
						<a class="text-bold" href="forgotPassword">Forgot Password</a>&nbsp;&nbsp;
                        <a class="text-bold" href="signUp">Sign Up</a>
					</div>

				</form>
			</div>
		</div>

		<footer class="footer">
			<div class="row">
				<div class="col-sm-6">Copyright&copy; 2017 California
					Residents Notification Service</div>
			</div>
		</footer>
	</div>

</body>
</html>
