<div>
    <toaster-container toaster-options="{'time-out': 1000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
    <div class="usa-overlay"></div>
    <div class="container main-body-content">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noSpace clearfix">
                    <h3>User List</h3>
                </div>
                <div class="pull-right col-lg-4 col-md-4 col-sm-6 col-xs-12 noSpace">
                    <input type="text" class="searchInput left" data-search-input="true" ng-model="searchFilter" id="searchTermTop" placeholder="Search">
                    <div data-search-button="true" class="left searchButton"></div>
                </div>
            </div>
            <div class="row notificationTable table-responsive" ng-if="!isLoading">
                <table class="listTable">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in userList | filter:searchFilter" ng-if="userList.length != 0">
                        <th>{{user.firstName + ' ' + user.lastname}}</th>
                        <td>{{user.email}}</td>
                        <td>{{user.mobileNo}}</td>
                        <td>{{user.location.addressLine1}}</td>
                    </tr>
                    <tr ng-if="userList.length == 0 || (userList |filter:searchFilter).length == 0">
                        <td colspan="4" class="text-center">No Data Found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="isLoading" class="text-center">
                <img ng-src="/images/Loading_icon.gif" alt="">
            </div>
        </div>
    </div>
</div>
